# "데이터 분석 python 기초 문법 노트북"
> "2021년 여름방학 데이터분석을 위한 python 기초문법"

- toc:true
- branch: master
- badges: true
- comments: true
- author: Hamel Husain & Jeremy Howard
- categories: [fastpages, jupyter]

In [ ]:
x = 3
y = 7
x + y

10

# 마크다운
## 
### 마크다운

* hello world
* hello world
* hello world

1. hello world
2. hello world
3. hello world

## 변수

* 대문자와 소문자는 다릅니다!
* 변수명에 띄어쓰기를 쓰지 않습니다!
* 맨 앞에 숫자를 사용사지 않습니다!
* 카멜 표기법이나 스네이크 포기법 중 일반 변수는 스네이크 표기법을 사용합니다.
* for, if, print, sum 등 이미 예약되어 있는 것은 변수로 사용하지 않습니다.

In [ ]:
x = 3
y = 7
x + y
x - y
x * y
x // y #print() 없으면 젤 마지막 부분만 결과가 나온다

0

In [ ]:
x = 3
y = 7
print(x + y)
print(x - y)
print(x * y)
print(x // y)

10
-4
21
0

In [ ]:
a = 10 # int : 정수
b = '10' # str :문자
c = 'lee' #
d = 'hojun'
e = True # bool : 블리언
f = 10.1 #flaot : 실수
print(type(a))

<class 'int'>

In [ ]:
3 > 10

False

In [ ]:
a + b

NameError: ignored

In [ ]:
a = [10,20,30,10.1,20,1,30.1,'hojun'] #list #이미지와 동영상은 리스트이다 왜냐하면 rgb로 (3차원의 이미지, 4차원의 동영상)되어있기때문이다.
b = (10,20,30) # tuple
c = {10,20,30,30,30} #set
d = {'one':1, 'two':2} #dict
print(type(a))

<class 'list'>

In [ ]:
a.pop() #a 있는 마지막 요소를 뺀다
sum(a) # sum을 계속해서 하면 a 마지막 요소가 계속 바뀌어서 결과값이 바뀐다.

71

# 형변환

In [ ]:
 a = 10
 b = '10'
 print(str(a)+b)
 print(a+int(b))

1010
20

# 산술연산

In [ ]:
a = 7
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a ** b)
print(a % b)

10
4
21
2.3333333333333335
2
343
1

## 비교연산

In [ ]:
a = 3
b = 5
print(a > b)
print(a >= b)
print(a < b)
print(a <= b)
print(a == b)
print(a != b)

False
False
True
True
False
True

## 논리연산

In [ ]:


#  주석입니다. 주석은 실행하지 않습니다.
 a = 10
 b = 20
 a + b

30

In [ ]:
a = True # 1
b = False #0

print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
result = 0
for i in range(101):
  if i % 3 == 0 or i % 5 == 0:
    result = result + i

print(result)

2418

## 문자열

In [ ]:
s = 'paullab CEO leehojun'
s.count('l')

3

In [ ]:
s.count(' ')

3

In [ ]:
s.upper()

'PAULLAB A CEO LEEHOJUN'

In [ ]:
s.lower()

'paullab a ceo leehojun'

In [ ]:
s.split(' ')

['paullab', 'a', 'CEO', 'leehojun']

In [ ]:
'-'.join(['a', 'b', 'c'])

'a-b-c'

In [ ]:
d = s.split(' ')
'-'.join(d)

'paullab-CEO-leehojun'

In [ ]:
dir(s)

NameError: ignored

In [ ]:
s = '         hello world'
print(s)
print(s.strip()) # 공백지우기
print(s.replace(' ',''))

         hello world
hello world
helloworld

## 리스트

* 순서가 있고, 수정이 가능합니다.

In [ ]:
a = [10,20,30,40,50,60,70,15]
a
a[0] # 0은 인덱스이고, a[0] 호출하는 것을 indexing이라고 합니다.
a[0],a[1],a[2],a[3],a[4]
a[0:5] # 슬라이싱, 자료형[start;stop:step] # 빈도가 높지않다.
a[::2]  # 슬라이싱, 자료형[start;stop:step] # 안쓴다.
a[::-1]  # 슬라이싱, 자료형[start;stop:step] # 자주쓰는 형태
a[0] = 1000

In [ ]:
dir(a)

a.append() # 값을 맨 뒤에 추가합니다. 잘쓴다.
a.clea() # a에 모든 값을 비웁니다, 안쓴다.
a.copy()  # a에 모든 값을 복사합니다.# 잘안쓴다
a.count()  # a에서 특정한 값의 개수를 찾습니다. 잘쓴다.
a.extend([10,20,30]) # a에 맨 뒤에 여러개의 값을 추가합니다. # 잘안쓴다
a.index() # a에서 특장한 값의 인덱스를 찾습니다. #잘쓴다
a.insert() # a에 중간에 값을 삽입합니다.# 잘쓴다
a.pop() # a에 맨 뒤에 값을 빼냅니다. 빼낸 값은 삭제됩니다. 잘쓴다.
a.remove(10000) # a에서 특장한 값을 삭제합니다 # 잘안쓴다
a.reverse() # a에 값으 뒤집습니다. 잘쓴다
a.sort() # a의 값을 정렬합니다. 잘쓴다

TypeError: ignored

In [ ]:
a.append(100)
a.append(100)
a

[1000, 20, 30, 40, 50, 60, 70, 15, 100, 100, 100, 100, 100, 100, 100, 100]

In [ ]:
a.count(100) # 제주에서 주차장있는 곳은 몇개인가 일때 사용

8

In [ ]:
a.sort()
a

[15, 20, 30, 40, 50, 60, 70, 100, 100, 100, 100, 100, 100, 100, 100, 1000]

In [ ]:
a.reverse()
a

[1000, 100, 100, 100, 100, 100, 100, 100, 100, 70, 60, 50, 40, 30, 20, 15]

## 튜플 딕셔너리 셋

In [ ]:
#튜플은 순서가 있고 값을 변경할 수 없습니다.

t = (10, 20, 30)
t

(10, 20, 30)

In [ ]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
# 딕셔너리 (key:value) 형태로 매칭

영한번역 = {'one':'하나','two':'둘'}
영한번역['one']

'하나'

In [ ]:
# 셋 (집합, 합집합,차집합,교집합) # 많이 사용안한다.
s = {10,20,30,30,30}
ss = {10,4,50}
s | ss # 합집합
s & ss #교집합
s - ss #차집합

{20, 30}

## f-string

In [ ]:
age = 10
name = 'leehojun'
print('제이름은 leehojun입니다. 제 나이는 10살입니다.')
print('제이름은',name,'입니다.' '제 나이는', age, '살입니다.')
print('제이름은 {}입니다. 제 나이는 {}살입니다.'.format(name,age))
print(f'제이름은 {name}입니다. 제 나이는 {age+age}살입니다.') # 최신문법 이것만 쓴다.

제이름은 leehojun입니다. 제 나이는 10살입니다.
제이름은 leehojun 입니다.제 나이는 10 살입니다.
제이름은 leehojun입니다. 제 나이는 10살입니다.
제이름은 leehojun입니다. 제 나이는 20살입니다.

## built in function

*abs() : 절대값
*min() : 최소값
*max() : 최대값
*dir() : 매서드 확인
*id() 메모리 주소 확인
*sorted() : 정렬
*reversed() : 역순(역정렬 아님)
*enumerate() : 순서를 매김 (for 하면서 설명)

*형변환:
  *set() : 집합으로 형변화
  *dict() : 딕셔너리 형변환
  *bool() : 불리언으로 형변환
  *int() : 정수형으로 형변환
  *str() : 문자열료 형변환
*ord() : 문자를 숫자로 변환
*chr() : 숫자를 문자로 변환
*sum() : 전부 더함(더할수 없으면 애러)
*filter() : 필터링(수학점수 90점 이상인 사람?)
*print() : 출력
*format() : 콤마 찍기
*len() : 길이 출력!! 중요!!!!
*type() : 타입 알아보기 중요!!
*list()
*range() : 연속된 값 생성(0~99 -> range(100))
*zip('abc','def')
*map(lambda x:x**2,[1,2,3])
*round() : 소수점 자리 반올림

In [ ]:
list(zip('abc','def'))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [ ]:
list(map(lambda x:x**2,[1,2,3]))

[1, 4, 9]

In [ ]:
0.1 + 0.2

0.30000000000000004

## 조건문

In [ ]:
if True:
  print('hello')
print('end')

hello
end

In [ ]:
if True:
  print('hello')
print('end')

In [ ]:
score = 89
money = 0

if score > 90:
  print('mom: i\'m so happy')
  money += 1000000 # money = money + 1000000, 활당연산이라 부릅니다.
elif score > 80:
  print('mom: im so happy')
  money += 100000
elif score > 70:
  print('mom: im so happy')
  money += 10000
else:
  print('mom: ...')

print(money)

mom: im so happy
100000

## 문제 풀이와 업다운 게임 제작

In [ ]:
str(list(range(100)))
str(list(range(100))).count('8')
str(list(range(10001))).count('8')

4000

In [ ]:
리스트 = [1,3,4,8,13,17,20]
리스트둘 = 리스트[1:]

In [ ]:
list(zip(리스트,리스트둘))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
묶어준리스트 = list(zip(리스트,리스트둘))
묶어준리스트.sort(key=lambda x:x[0]-x[1], reverse=True)
묶어준리스트
묶어준리스트[0]

(3, 4)

In [ ]:
import random
정답 = random.randint(1,100)

while True:
    user = int(input('숫자를 입력해주세요.'))
    if user < 정답:
        print('Up')
    elif user > 정답:
        print('Down')      
    else:
        print('정답')    
        break

숫자를 입력해주세요.12
Up
숫자를 입력해주세요.50
Down
숫자를 입력해주세요.40
Up
숫자를 입력해주세요.43
Down
숫자를 입력해주세요.42
Down
숫자를 입력해주세요.41
정답

## 반복

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
list(range(10)) #stop
list(range(0,10,2)) #start, stop,step
list(range(5,10)) #start, stop
list(range(10,5,-1)) #start, stop,step

[10, 9, 8, 7, 6]

In [ ]:
s = 0
for i in range(101):
        s = s + i
print(s)

5050

In [ ]:
s = 0
for i in range(0,101,2):
        s = s + i
print(s)

2550

In [ ]:
sum(range(0,101,2))

2550

In [ ]:
s = 0
for i in range(101):
    if i % 2 == 0: #2로 나눈 나머지가 0 이면 짝수 1이면 홀수
        s = s + i
print(s)

2550

In [ ]:
for i in range(1,10):
    print(f'{2}*{i}={2*i}')
for i in range(1,10):
    print(f'{3}*{i}={3*i}')
for i in range(1,10):
    print(f'{4}*{i}={4*i}')
for i in range(1,10):
    print(f'{5}*{i}={5*i}')
for i in range(1,10):
    print(f'{6}*{i}={6*i}')
for i in range(1,10):
    print(f'{7}*{i}={7*i}')
for i in range(1,10):
    print(f'{8}*{i}={8*i}')
for i in range(1,10):
    print(f'{9}*{i}={9*i}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [ ]:
for 단 in range(2,10):
    for i in range(1,10):
        print(f'{단}*{i}={단*i}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [ ]:
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x = 1
while x < 10:
    print(f'{2}*{x}={2*x}')
    x += 1

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

## 모듈

In [ ]:
#filename = test.py # 모튤은 .py 파일과 마찬가지이다
# name = 'leehojun'
# age = 10

In [ ]:
#import test
import test as t
print(t.name)
print(t.age)

leehojun
10

In [ ]:
from test import name,age # from은 test의 파일 이름이 비숫한 모튤이 두개이면  애러가 난다 
print(name)
print(age)

leehojun
10

##함수

1. 재사용을 높일 수 있다.
2. 코드의 구조를 파악하기 쉽다
3. 유지보수를 쉽게 할 수 있다.

In [ ]:
def 더하기(x,y):
    return x + y

더하기(10,20)

30

In [ ]:
def 원의넓이(r):
    return(r**2)*3.14

print(원의넓이(10)+100)
print(원의넓이(10)+50)

414.0
364.0

In [ ]:
점수 = [10,20,30,40]
def 평균(반점수):
    s = 0
    for i in 반점수:
        s += i
    return s / len(반점수)

print(평균(점수))
print(평균(점수)+5)

25.0
30.0

## 파일출력

In [ ]:
f = open("구구단.txt", 'w') # r(읽음).w(작성, 덮어씀), a(추가)
data = ''
for 단 in range(2,10):
    for i in range(1,10):
        data += f'{단}*{i}={단*i}\n'
f.write(data)
f.close()

## 클래스
*현실세계의 개념을 code로 옮겨놓은것

*클래스의 첫문자열은 대문자로 합니다

In [ ]:
class Car:
    # 클래스 변수 또는 맴버
    maxspeed = 300
    maxpeople = 5
    
    #메서드
    def start(self):
        print('출발하였습니다.')
    def stop(self):
        print('멈췄습니다.')

In [ ]:
audi = Car() # audi라는 인스턴스 생성 Car는 클래스
bmw = Car() # bmw라는 인스턴스 생성

audi.start()
print(audi.maxpeople)
print(Car.maxspeed) # 이렇게 실행하시면 안됩니다.

출발하였습니다.
5
300

In [ ]:
dir(audi)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'maxpeople',
 'maxspeed',
 'start',
 'stop']

In [ ]:
class 전기차(Car):
    배터리 = 100
    배터리에_따라_갈_수_있는_거리 = 300

전기차audi = 전기차()
전기차audi.start()

출발하였습니다.